{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <div class="weather-container">
    <h1>Weather App</h1>

    <form class="search-box" method="post">
    {% csrf_token %}
      <input type="text" name="city" placeholder="Enter city" list="cities">
      <button type="submit">Search</button>
    </form>

    <div class="weather-info">
      <div class="temperature">{{temp}}</div>
      <div class="city">{{city}}</div>
      <div class="description">
        <img src="https://openweathermap.org/img/w/{{icon}}.png" alt="clear sky">
        {{description}}
        <span>{{day}}</span>
      </div>
    </div>
  </div>
</body>
</html>
